In [6]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame
from numpy.random import  randn

In [7]:
ser1 = Series([1,2,3,4],index=['A','B','C','D'])

In [8]:
ser2 = ser1.reindex(['A','B','C','D','E','F','G'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    NaN
dtype: float64

In [9]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value = 0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    NaN
dtype: float64

In [11]:
dframe = DataFrame(randn(25).reshape((5,5)),index = ['A','B','C','D','F'],columns=['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A -2.853798  0.113852 -0.109545  0.713134 -0.951472
B -0.017522  1.115320  1.195127 -0.202969  1.543443
C  0.726141 -1.181403 -0.414518 -0.208113  0.707617
D -0.416167  1.202340  1.567927  0.079302  0.966575
F -0.234746 -0.517670  1.082106 -0.837254  0.888029

In [13]:
dframe2 = dframe.reindex(['A','B','D','E','F','G'])
dframe2

       col1      col2      col3      col4      col5
A -2.853798  0.113852 -0.109545  0.713134 -0.951472
B -0.017522  1.115320  1.195127 -0.202969  1.543443
D -0.416167  1.202340  1.567927  0.079302  0.966575
E       NaN       NaN       NaN       NaN       NaN
F -0.234746 -0.517670  1.082106 -0.837254  0.888029
G       NaN       NaN       NaN       NaN       NaN

In [3]:
my_ser = Series([1,2,3,4],index=['A','B','C','D'])
my_ser

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
my_ind = my_ser.index
my_ind

Index(['A', 'B', 'C', 'D'], dtype='object')