In [1]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

In [2]:
 obj = Series([3,6,9,12])
 obj

0     3
1     6
2     9
3    12
dtype: int64

In [3]:
obj.values

array([ 3,  6,  9, 12], dtype=int64)

In [4]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
ww2_cas = Series([8700000,4300000,2100000,4000000],index=['USSR','Germany','China','USA'])
ww2_cas

USSR       8700000
Germany    4300000
China      2100000
USA        4000000
dtype: int64

In [6]:
ww2_cas['USA']

4000000

In [7]:
# check which countries has casualities greater than 4 million

ww2_cas[ww2_cas > 5000000]

USSR    8700000
dtype: int64

In [8]:
'USSR' in ww2_cas

True

In [9]:
#converting a series into dictionary
ww2_dict = ww2_cas.to_dict()
ww2_dict

{'USSR': 8700000, 'Germany': 4300000, 'China': 2100000, 'USA': 4000000}

In [10]:
#converting back to series
ww2_series = Series(ww2_dict)
ww2_series

USSR       8700000
Germany    4300000
China      2100000
USA        4000000
dtype: int64

In [12]:
countries =['China','Germany','japan','india','USSR']
obj2 = Series(ww2_dict,index=countries)
obj2

China      2100000.0
Germany    4300000.0
japan            NaN
india            NaN
USSR       8700000.0
dtype: float64

In [13]:
pd.isnull(obj2)

China      False
Germany    False
japan       True
india       True
USSR       False
dtype: bool

In [14]:
pd.notnull(obj2)

China       True
Germany     True
japan      False
india      False
USSR        True
dtype: bool

In [15]:
ww2_series + obj2

China       4200000.0
Germany     8600000.0
USA               NaN
USSR       17400000.0
india             NaN
japan             NaN
dtype: float64